/* الأساسيات */
.contact-us-section {
  padding: 30px;
  background-color: #d6d323; /* لون خلفية بسيط وأنيق */
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 80px;
}

.contact-us-section h2 {
  color: #000000;
  border-bottom: 4px solid #646b1d; /* إضافة خط سفلي ملون للعناوين */
}
.contact-us-section p {
  color: #000000;
}

/* العناوين */
h3 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 4px solid #646b1d; /* إضافة خط سفلي ملون للعناوين */
  padding-bottom: 10px;
  display: inline-block;
}

/* القوائم */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #0080ff; /* لون غامق للنص */
  display: flex;
  justify-content: center;
}

/* روابط مواقع التواصل الاجتماعي */
.social-media a {
  color: #3498db; /* لون أزرق حديث */
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s ease-in-out;
}

.social-media a:hover {
  background-color: #f4cb03; /* لون التفاعل عند التمرير */
  color: #646b1d; /* تغيير اللون عند التمرير */
}

/* تنسيق قسم وسائل التواصل الاجتماعي */

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a img {
  width: 40px; /* حجم الأيقونة */
  height: 40px;
  transition: transform 0.3s ease, opacity 0.3s ease; /* تأثيرات عند التمرير */
}

.social-icons a img:hover {
  transform: scale(1.1); /* تكبير الأيقونة قليلاً عند التمرير */
  opacity: 0.8;
}

/* تصميم متجاوب للأجهزة المحمولة */
@media only screen and (max-width: 768px) {
  .contact-us-section {
    padding: 20px;
    border-radius: 8px;
  }

  h3 {
    font-size: 1.5rem;
  }

  ul li {
    font-size: 0.9rem;
  }
}

/* تصميم للأجهزة الصغيرة جدًا (مثل الهواتف المحمولة الصغيرة) */
@media only screen and (max-width: 480px) {
  .contact-us-section {
    padding: 15px;
  }

  h3 {
    font-size: 1.2rem;
  }

  ul li {
    font-size: 0.8rem;
  }
}
