.homepage-header {
  background-image: url("./image/sal.jpg");
  background-size: cover;
  background-position: center;

  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  text-align: center;
  padding: 10px;
}

.homepage-header .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 0px;
}

.homepage-header h1 {
  color: #f4cb03;
  margin-bottom: 20px;
}
.homepage-header h1 span {
  color: #e67e22;
}

.homepage-header p {
  color: azure;
  font-size: 1rem;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .homepage-header {
    padding: 50px;
  }

  .homepage-header h1 {
    font-size: rem;
  }

  .homepage-header p {
    font-size: 1rem;
  }
}
